<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zshuai.dao.CovJsonMapper" >
  <resultMap id="BaseResultMap" type="cn.zshuai.entity.CovJson" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="checker" property="checker" jdbcType="VARCHAR" />
    <result column="file" property="file" jdbcType="VARCHAR" />
    <result column="fun" property="fun" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="eln" property="eln" jdbcType="VARCHAR" />
    <result column="edn" property="edn" jdbcType="VARCHAR" />
    <result column="com_name" property="comName" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cid, checker, file, fun, category, eln, edn, com_name, tid, tag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.zshuai.entity.CovJsonExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cov_json
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cov_json
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cov_json
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.zshuai.entity.CovJsonExample" >
    delete from cov_json
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.zshuai.entity.CovJson" >
    insert into cov_json (id, cid, checker, 
      file, fun, category, 
      eln, edn, com_name, 
      tid, tag)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{checker,jdbcType=VARCHAR}, 
      #{file,jdbcType=VARCHAR}, #{fun,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{eln,jdbcType=VARCHAR}, #{edn,jdbcType=VARCHAR}, #{comName,jdbcType=VARCHAR}, 
      #{tid,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.zshuai.entity.CovJson" >
    insert into cov_json
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="checker != null" >
        checker,
      </if>
      <if test="file != null" >
        file,
      </if>
      <if test="fun != null" >
        fun,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="eln != null" >
        eln,
      </if>
      <if test="edn != null" >
        edn,
      </if>
      <if test="comName != null" >
        com_name,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="tag != null" >
        tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="checker != null" >
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="fun != null" >
        #{fun,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="eln != null" >
        #{eln,jdbcType=VARCHAR},
      </if>
      <if test="edn != null" >
        #{edn,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        #{comName,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.zshuai.entity.CovJsonExample" resultType="java.lang.Integer" >
    select count(*) from cov_json
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cov_json
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.checker != null" >
        checker = #{record.checker,jdbcType=VARCHAR},
      </if>
      <if test="record.file != null" >
        file = #{record.file,jdbcType=VARCHAR},
      </if>
      <if test="record.fun != null" >
        fun = #{record.fun,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.eln != null" >
        eln = #{record.eln,jdbcType=VARCHAR},
      </if>
      <if test="record.edn != null" >
        edn = #{record.edn,jdbcType=VARCHAR},
      </if>
      <if test="record.comName != null" >
        com_name = #{record.comName,jdbcType=VARCHAR},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cov_json
    set id = #{record.id,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      checker = #{record.checker,jdbcType=VARCHAR},
      file = #{record.file,jdbcType=VARCHAR},
      fun = #{record.fun,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      eln = #{record.eln,jdbcType=VARCHAR},
      edn = #{record.edn,jdbcType=VARCHAR},
      com_name = #{record.comName,jdbcType=VARCHAR},
      tid = #{record.tid,jdbcType=INTEGER},
      tag = #{record.tag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zshuai.entity.CovJson" >
    update cov_json
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="checker != null" >
        checker = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        file = #{file,jdbcType=VARCHAR},
      </if>
      <if test="fun != null" >
        fun = #{fun,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="eln != null" >
        eln = #{eln,jdbcType=VARCHAR},
      </if>
      <if test="edn != null" >
        edn = #{edn,jdbcType=VARCHAR},
      </if>
      <if test="comName != null" >
        com_name = #{comName,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zshuai.entity.CovJson" >
    update cov_json
    set cid = #{cid,jdbcType=INTEGER},
      checker = #{checker,jdbcType=VARCHAR},
      file = #{file,jdbcType=VARCHAR},
      fun = #{fun,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      eln = #{eln,jdbcType=VARCHAR},
      edn = #{edn,jdbcType=VARCHAR},
      com_name = #{comName,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>